body {
  text-align: center;
  color: rgb(165, 218, 218);
  background-color: white;
}

.hide {
  display: block;
}

.time {
  display: flex;
  align-items: flex-end;
}
button {
  align-items: center;
  justify-content: center;
  background-color: rgb(165, 218, 218);
  color: whitesmoke;
}
#id {
  display: none;
}
