body {
  text-align: center;
  color: white;
  background-color: navy;
}

.hide:visited {
  display: none;
}

.time {
  display: flex;
  align-items: flex-end;
}
button {
  align-items: center;
  justify-content: center;
}
